body {
	background-color: #f7eddc;
}

#felso
{
	margin-top: 30px;
}

.kozep
{
	text-align: center;
}

.kepfelirat
{
	text-align: center;
	font-style: italic;
}

.galeriakep
{
	height: 300px;
	margin: auto;
	display: block;
}

#tortenet {
	font-weight: bold;
}

a {
	font-weight: bold;
}

p {
	font-weight: normal;
}

.bold-p {
	font-weight: bold;
}

.theadBcolor {
	border: 3pt solid #7a5c3e;
}

.tabBcolor {
	border: 3pt solid #7a5c3e;
}